
h1{
  text-align: center;
  padding-top: 20px;
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
}

.formlayout{
  margin: auto;
  width: 50%;
  border: 3px solid lightblue;
  border-radius: 10px;
  padding-top: 20px;
}

.multiselect {
  width: 200px;
  max-height:  75px;
  overflow-y:scroll; 
  scrollbar-width: none;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.submitlayout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.submit{
  width: 80%;
  height: 30px;
  border-radius: 5px;
}


#medCheckboxes, #treatCheckboxes {
  display: none;
  border: 1px #dadada solid;
}

#medCheckboxes label, #treatCheckboxes label {
  display: block;
}

#medCheckboxes label:hover, #treatCheckboxes label:hover {
  background-color: #1e90ff;
}


